Options -Indexes -ExecCGI

<FilesMatch "(?i)\.(php[0-9]?|phtml|phar|phps)$">
    Require all denied
</FilesMatch>

<IfModule mod_mime.c>
    RemoveHandler .php .php3 .php4 .php5 .php7 .php8 .phtml .phar .phps
    RemoveType .php .php3 .php4 .php5 .php7 .php8 .phtml .phar .phps
</IfModule>
